<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="UI AutoTest Suite" verbose="10" parallel="false" thread-count="1">
    <suite-files>
<!--        <suite-file path="TestNGSuite/ChineseTestOld.xml"></suite-file>-->
        <suite-file path="TestNGSuite/ChineseOnlineOld.xml"></suite-file>


    <!--        <suite-file path="TestNGSuite/ChineseTestNew.xml"></suite-file>-->
        <suite-file path="TestNGSuite/ChineseOnlineNew.xml"></suite-file>


<!--        <suite-file path="TestNGSuite/OverseasTest.xml"></suite-file>-->
        <suite-file path="TestNGSuite/OverseasOnline.xml"></suite-file>


    </suite-files>
</suite>